.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0 7vw;
    background-color: #FFFFFF;
    border-bottom: 1px solid lightgray;

    nav {
        display: flex;
        gap: 1rem;

        button {
            padding: 0.7rem 1rem;
            color: white;
            background-color: rgb(1, 33, 105);
            border-radius: 1rem;
        }
    }
}