.task { 
	display: flex;
	gap: 0.75rem;
	padding-right: 0.5rem;
	border: 1px solid lightgrey;
	border-radius: 0.5rem;
}

.bar { 
	background-color: #A7C957;
	height: 100%;
	width: 0.5rem;
	border-top-left-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
}
	
.task_info { 
	display: flex;	
	flex-direction: column;
	gap: 0.5rem;
	padding: 0.75rem 0;
	font-size: 1.1rem;
}

.methods { 
	display: flex;
	gap: 0.75rem;
	border-bottom: 1rem;

	p { 
		border-radius: 2rem;
		background-color: #e0f5ec;
		padding: 0.3rem 0.75rem;
	}	
}
